fastapi
uvicorn
google-antigravity
pydantic
pandas
numpy
requests
beautifulsoup4
googlenewsdecoder
google-generativeai
pydantic-settings
yahooquery
websockets
google-cloud-firestore

# Local development
.globepulse.pids

# Local Firebase
firebase-debug.log
firestore-debug.log

# Python
.venv/
__pycache__/

# Node
node_modules/